<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div th:include="Header :: copy"></div>

<a class="btn btn-primary" href="/home">Back to list</a></br>
<div>
    <form th:method="POST" th:action="@{/createExercise}"  th:object="${exercise}">
        <label for="description">Description:
            <input type="text" th:field="*{description}" id="description" />
        </label><br />
        <label for="countOFrepetishions">CountOFrepetishions:
            <input type="text" th:field="*{countOFrepetishions}" id="countOFrepetishions" />
        </label><br />
        <label for="href">Link:
            <input type="text" th:field="*{href}" id="href" />
        </label><br />
        <label for="idT">
            <input type="hidden" th:value="${idT}" name="idT" id="idT"  />
        </label><br />
        <label for="idP">
            <input type="hidden" th:value="${idP}" name="idP" id="idP"  />
        </label><br />
        <input  type="Submit" value="Add " />
    </form>
    <p th:text="${idT}"/>
    <p th:text="${idP}"/>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>